*{
    padding: 0%;
    box-sizing: border-box;

}

body{
    background-color: skyblue;

}

.logo{

    width: 40%;
    height: 90%;
    background-color: black;
    color: white;
    margin-top: 40px;
    margin-left: 30%;
    border-radius: 25px;
    
}